.images {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgreen;
  color: white;
}
